@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&family=Roboto:wght@500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&family=Shrikhand&display=swap");
/*GLOBAL*/
html {
  width: 100%;
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: Roboto;
  font-size: 16px;
  margin: 0;
  line-height: 2;
  color: black;
}

h1 {
  font-family: Shrikhand;
  margin: 0 0 0 6%;
  font-weight: 500;
}

@media all and (max-width: 640px) {
  /*HEADER*/
  header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0 0 0 -13%;
  }
  header > a {
    color: black;
    padding-top: 2%;
  }
  header > a i {
    font-size: 120%;
  }
  .logo_black {
    -o-object-fit: contain;
       object-fit: contain;
    width: 40%;
    padding-top: 2%;
  }
  /*MAIN*/
  main > img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 20rem;
    margin-top: 2%;
  }
  main section {
    position: relative;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -15%;
    background-color: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section #section_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: 5% 0 0 0;
  }
  main section #section_title > i {
    font-size: 150%;
    margin-right: 7%;
  }
  main .commander {
    border: none;
    border-radius: 30px;
    width: 60%;
    height: 60px;
    color: white;
    font-size: 100%;
    font-weight: bold;
    margin: 10% 0 10% 0;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 5px #cecece;
            box-shadow: 3px 3px 5px #cecece;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: translate 400ms;
    transition: translate 400ms;
  }
  main .commander:hover {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  .section_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
  .section_menu > h2 {
    margin: 5% 0 0 0;
    font-size: 100%;
    font-weight: 100;
    width: 12%;
    border-bottom: 3px solid #93e1ce;
  }
  .section_menu > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 5%;
    width: 100%;
    -webkit-box-shadow: 3px 3px 8px #cecece;
            box-shadow: 3px 3px 8px #cecece;
  }
  .section_menu > div > input {
    -webkit-appearance: none;
  }
  .section_menu > div > nav {
    width: 100%;
    padding: 2% 0 2% 3%;
    cursor: pointer;
  }
  .section_menu > div > nav > h3 {
    font-size: 100%;
    margin: 0;
  }
  .section_menu > div > nav > p {
    margin: 0;
    font-size: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section_menu > div > nav > p > span {
    font-weight: bold;
  }
  /*FOOTER*/
  footer {
    background-color: #353535;
    color: white;
    padding: 7% 0 7% 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer #logo_white {
    padding: 2% 0 5% 0;
    -webkit-filter: brightness(20);
            filter: brightness(20);
  }
  footer > a {
    text-decoration: none;
    margin: 0;
    color: white;
  }
  footer > nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer > nav > i {
    width: 8%;
  }
  footer > nav > a {
    text-decoration: none;
    margin: 0;
    color: white;
  }
}

@media all and (min-width: 641px) and (max-width: 990px) {
  /*HEADER*/
  header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0 0 0 -13%;
  }
  header > a {
    color: black;
    padding-top: 2%;
  }
  header > a i {
    font-size: 120%;
  }
  .logo_black {
    -o-object-fit: contain;
       object-fit: contain;
    width: 40%;
    padding-top: 2%;
  }
  /*MAIN*/
  main > img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 250px;
    margin-top: 2%;
  }
  main section {
    position: relative;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -15%;
    background-color: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section #section_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: 5% 0 0 0;
  }
  main section #section_title > i {
    font-size: 150%;
    margin-right: 7%;
  }
  main .commander {
    border: none;
    border-radius: 30px;
    width: 60%;
    height: 60px;
    color: white;
    font-size: 100%;
    font-weight: bold;
    margin: 10% 0 10% 0;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 5px #cecece;
            box-shadow: 3px 3px 5px #cecece;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: translate 400ms;
    transition: translate 400ms;
  }
  main .commander:hover {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  .section_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
  .section_menu > h2 {
    margin: 5% 0 0 0;
    font-size: 100%;
    font-weight: 100;
    width: 12%;
    border-bottom: 3px solid #93e1ce;
  }
  .section_menu > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 5%;
    width: 100%;
    -webkit-box-shadow: 3px 3px 8px #cecece;
            box-shadow: 3px 3px 8px #cecece;
  }
  .section_menu > div > input {
    -webkit-appearance: none;
  }
  .section_menu > div > nav {
    width: 100%;
    padding: 2% 0 2% 3%;
    cursor: pointer;
  }
  .section_menu > div > nav > h3 {
    font-size: 100%;
    margin: 0;
  }
  .section_menu > div > nav > p {
    margin: 0;
    font-size: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section_menu > div > nav > p > span {
    font-weight: bold;
  }
  /*FOOTER*/
  footer {
    background-color: #353535;
    color: white;
    padding: 7% 0 7% 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer #logo_white {
    padding: 2% 0 5% 0;
    -webkit-filter: brightness(20);
            filter: brightness(20);
  }
  footer > a {
    text-decoration: none;
    margin: 0;
    color: white;
  }
  footer > nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer > nav > i {
    width: 8%;
  }
  footer > nav > a {
    text-decoration: none;
    margin: 0;
    color: white;
  }
}

@media all and (min-width: 991px) {
  /*HEADER*/
  header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0 0 0 -13%;
  }
  header > a {
    color: black;
    padding-top: 2%;
  }
  header > a i {
    font-size: 120%;
  }
  .logo_black {
    -o-object-fit: contain;
       object-fit: contain;
    width: 40%;
    padding-top: 2%;
  }
  /*MAIN*/
  main > img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 700px;
    margin-top: 2%;
  }
  main section {
    position: relative;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -15%;
    background-color: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section #section_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: 5% 0 0 0;
  }
  main section #section_title > i {
    font-size: 150%;
    margin-right: 7%;
  }
  main .commander {
    border: none;
    border-radius: 30px;
    width: 60%;
    height: 60px;
    color: white;
    font-size: 100%;
    font-weight: bold;
    margin: 10% 0 10% 0;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 5px #cecece;
            box-shadow: 3px 3px 5px #cecece;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: translate 400ms;
    transition: translate 400ms;
  }
  main .commander:hover {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  .section_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
  .section_menu > h2 {
    margin: 5% 0 0 0;
    font-size: 100%;
    font-weight: 100;
    width: 12%;
    border-bottom: 3px solid #93e1ce;
  }
  @-webkit-keyframes check_nav {
    0% {
      width: 100%;
    }
    100% {
      width: 80%;
    }
  }
  @keyframes check_nav {
    0% {
      width: 100%;
    }
    100% {
      width: 80%;
    }
  }
  @-webkit-keyframes check_input {
    0% {
      width: 0%;
    }
    100% {
      width: 10%;
    }
  }
  @keyframes check_input {
    0% {
      width: 0%;
    }
    100% {
      width: 10%;
    }
  }
  .section_menu > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 5%;
    width: 100%;
    -webkit-box-shadow: 3px 3px 8px #cecece;
            box-shadow: 3px 3px 8px #cecece;
  }
  .section_menu > div > input {
    -webkit-appearance: none;
    height: 100%;
    background-color: #93e1ce;
    border: 1px solid black;
  }
  .section_menu > div > nav {
    border: 1px solid black;
    width: 100%;
    padding: 2% 0 2% 3%;
    cursor: pointer;
  }
  .section_menu > div > nav:hover {
    -webkit-animation: check_nav 2s forwards;
            animation: check_nav 2s forwards;
  }
  .section_menu > div > nav > h3 {
    font-size: 100%;
    margin: 0;
  }
  .section_menu > div > nav > p {
    margin: 0;
    font-size: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section_menu > div > nav > p > span {
    font-weight: bold;
  }
  /*FOOTER*/
  footer {
    background-color: #353535;
    color: white;
    padding: 7% 0 7% 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer #logo_white {
    padding: 2% 0 5% 0;
    -webkit-filter: brightness(20);
            filter: brightness(20);
  }
  footer > a {
    text-decoration: none;
    margin: 0;
    color: white;
  }
  footer > nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer > nav > i {
    width: 8%;
  }
  footer > nav > a {
    text-decoration: none;
    margin: 0;
    color: white;
  }
}
/*# sourceMappingURL=menu.css.map */