@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&family=Roboto:wght@500&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&family=Shrikhand&display=swap');

/*GLOBAL*/
html{
    width: 100%;
    font-size: 62.5%;
}

img {
    max-width: 100%;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    font-family: Roboto;
    font-size: 16px;
    margin: 0;
    line-height: 2;
    color: black;      
}
h1 {
    font-family: Shrikhand;
    margin: 0 0 0 6%;
    font-weight: 500;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

@mixin footer_link {
    text-decoration: none;
    margin: 0;
    color: white;
}

@media all and (max-width : 640px) {
    /*HEADER*/

        header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 0 0 0 -13%;

            >a {
                color: black;
                padding-top: 2%;
                
                i {
                    font-size: 120%;
                }
            }
            
        }

        .logo_black {
            object-fit: contain;
            width: 40%;
            padding-top: 2%;
        }

        

    /*MAIN*/

        main {
            >img { 
                object-fit: cover;
                width: 100%;
                height: 250px;
                margin-top: 2%;
            }
            section {
                position: relative;
                width: 100%;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                margin-top: -15%;
                background-color: rgb(246, 246, 246);
                display: flex;
                flex-direction: column;
                align-items: center;

                #section_title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin: 5% 0 0 0;
                    
                    >i {
                        font-size: 150%;
                        margin-right: 7%;
                    }
                }        
            }

            .commander {
                border: none;
                border-radius: 30px;
                width: 60%;
                height: 60px;
                color: white;
                font-size: 100%;
                font-weight: bold;
                margin: 10% 0 10% 0;
                background-image: linear-gradient(to bottom right, $color-secondary, $color-primary );
                cursor: pointer;
                box-shadow: 3px 3px 5px rgb(206, 206, 206);
                transform: scale(1);
                transition: translate 400ms;
                &:hover{
                    transform: scale(1.15);
                }
            }
    
        }
        
        .section_menu {
            display: flex;
            flex-direction: column;
            width: 90%;

            >h2 {
                margin: 5% 0 0 0;
                font-size: 100%;
                font-weight: 100;
                width: 12%;
                border-bottom: 3px solid rgb(147, 225, 206);
                
            }
                            
            >div{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-between;
                justify-content: center;
                background-color: white;
                border-radius: 10px;
                margin-top: 5%;
                width: 100%;
                box-shadow: 3px 3px 8px rgb(206, 206, 206);
                
                >input {
                    -webkit-appearance: none;
                }
                
                >nav {
                    width: 100%;
                    padding: 2% 0 2% 3%;
                    cursor: pointer; 
                    
                    >h3 {
                        font-size: 100%;
                        margin: 0;
                    }

                    >p {
                        margin: 0;
                        font-size: 80%;
                        display: flex;
                        justify-content: space-between;

                        >span {
                            font-weight: bold;
                        }
                    }
                }
            }

        }





    /*FOOTER*/

    footer {
        background-color: rgb(53, 53, 53);
        color: white;
        padding: 7% 0 7% 7%;
        display: flex;
        flex-direction: column;
        
        #logo_white {
            padding: 2% 0 5% 0;
            filter: brightness(20);
        }

        >a {
            @include footer_link()
        }

            >nav {
                display: flex;
                align-items: center;

                >i {
                    width: 8%;
                }

                    >a {
                        @include footer_link()
                    }
            }
    }
}

